@use './variables' as *;

.btn {
  font-family: var(--barlow-cond);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  //text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;



  &--primary {
    background: rgb($gold-dark, 1);
    color: $black;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 15px 100%, 0 calc(100% - 15px));

    &:hover {
      background: $gold;
      color: rgb(215, 210, 210);
      transform: scale(1.05);
    }
  }

  &--secondary {
    background: transparent;
    color: $white;
    border: 1px solid rgba($white, 0.3);


    &:hover {
      border-color: $gold;
      color: $gold;
    }
  }
}