// Colores
$gold:        #F5C518;
$gold-dark:   #c9a00f;
$black:       #0a0a0a;
$dark:        #111111;
$dark2:       #1a1a1a;
$white:       #f0ece0;
$gray:        #888888;

// Tipografías
$font-display:   'Bebas Neue', sans-serif;
$font-condensed: 'Barlow Condensed', sans-serif;
$font-body:      'Barlow', sans-serif;