@use '../../styles/variables' as *;

// Tamaño min adaptable (activa responsive)
$widthResponsive: 1270px;

$nav-color-1: rgba(137, 107, 1, 0.479);
$nav-color-2: rgba(0, 0, 0, 0);

// ---- ESTILOS COMPONENTE BARRA DE NAVEGACION ----


.section-Navbar {
  width: 100%;
 
  position: fixed;
  top: 0;
  left: 0;
  //right: 0;

  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .bg-blur {
    width: 100%;
    height: 100px;
    position: absolute;
    background: linear-gradient(to bottom, $nav-color-1, $nav-color-2);
    backdrop-filter: blur(10px);
    left: 0;
    top: 0;
  }

  .container-Navbar {
    width: 100%;
    max-width: 2000px;
    position: relative;
  }

}



.Navbar {
  width: 100%;
  padding: 1.2rem 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

}

// Contenedor LOGO
.container-logo {
  width: 100px;
  
  svg {
    margin-right: 80px;
    margin-left: 10px;
    cursor: pointer;
    filter: drop-shadow(3px 3px 3px rgba(3, 3, 3, 0.356));
    transition: 1s ease all;

    &:hover {
      transform: scale(1.2);
      filter: drop-shadow(1px 1px 4px rgba(189, 139, 0, 0.771));
    }
  }
}

// Contenedor Opcines del menu (links + Datos Contactos)
.container-menu-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 93%;

  z-index: 9;

  @media (max-width:$widthResponsive) {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 9;

    border-bottom: 2px solid rgba(0, 0, 0, 0.482);
    border-radius: 0px 0px 0px 10px;

    width: 300px;
    height: 400px;
    
    overflow: hidden;
    transition: 1s ease all;

    &.menu-activo{
      background: linear-gradient(to bottom,$nav-color-2, $nav-color-1 );
      backdrop-filter: blur(10px);
    }
    &.menu-desactivo {
      height: 0px;
      padding: 0;
      border: 0;
      opacity: 0.4;

      .link-navbar {
        visibility: hidden;
      }
    }

  }
}

// Contenedor links 
.container-list-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .container-link-navbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-transform: uppercase;
  }
  @media (max-width:$widthResponsive) {
    .container-link-navbar {
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
      gap: 5px;
    }

  }
}

// Contenedor Boton Login
.container-contact-navbar {
  padding-right: 20px;
  margin: 0;

  button {  
    font-family: var(--barlow-cond);
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: $gold;
    border: 1px solid rgba($gold, 0.3);
    padding: 0.6rem 1.6rem;
    text-decoration: none;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.096);
    filter: drop-shadow(-1px 1px 1px rgba(3, 3, 3, 0.856));
    cursor: pointer;

    &:hover {
      background: rgba($gold, 0.1);
      border-color: $gold;
    }
  }


  @media (max-width:$widthResponsive) {
    padding-top: 25px;
    width: 90%;
    border-top: rgba($gold, 0.3) 1px solid;//#282311
    display: flex;
    justify-content: center;
  }

}


// Estilos boton link del NAV
.link-navbar {
  display: flex;
  gap: 2rem;
  list-style: none;

  a {
    font-family: var(--barlow-cond);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s;
    filter: drop-shadow(1px 1px 0px rgb(3, 3, 3));

    &:hover {
      color: rgb(147, 0, 0, 0.749);
    }

    &:active {
      color: rgba(147, 0, 0);
    }

    &.active {
      color: rgb(0, 0, 0);
    }
  }

  @media (max-width:$widthResponsive) {
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid rgba(150, 0, 0, 0);


    &:hover {
      color: rgb(147, 0, 0);
      border: 3px solid rgba(150, 0, 0, 0.512);
    }

    &:active {
      color: rgba(200, 0, 0, 0.749);
      border: 3px solid rgba(200, 0, 0, 0.748);
    }

    &.active {
      background: rgba(255, 0, 0, 0.073);
      color: rgb(175, 0, 0);
      border: 3px solid rgb(175, 0, 0);
    }
  }
}


// Contenedor Boton Desplegable
.container-button-dropdown {
  display: none;
  border: 2px solid rgba(209, 137, 12, 0.404);
  border-radius: 10px;
  margin-right: 20px;


  @media (max-width:$widthResponsive) {
    display: flex;
    flex-flow: row nowrap;
  }
}